body {
     color: #444444;
     font-family: sans-serif;
     line-height: 1.2em;
    font-size:14px;
    margin:20px;
}
a {
}
a:hover, .private a:hover {
    color: #00e !important;
    text-decoration:none;
    border-color:#00e;
}
a.mute {
    color:#444;
}
ul {
    padding: 0pt;
}
li {
     list-style-type: none;
}
label {
    font-weight:bold;
}
hr {
    border:0;
    border-bottom:1px dotted #888;
}

.bull {
    display:inline-block;
    margin-right:0.6em;
}


.header, .header a {
     color: #888888;
}
.header b {
     color: #000000;
}


#signin {
    position:absolute;
    top:0;
    right:0;
    padding:5px;
}
#register {
     display: inline-block;
}


ul.links {
    max-width:720px;
    padding:0 0 3px 0;
}
ul.links li {
    margin-top:2.5em;
    margin-bottom:2.5em;
}
ul.links li span.url a {
    display:inline-block;
    line-height:1.2em;
    font-weight:normal;
    font-size:22px;
    text-decoration:none;
}
ul.links li span.url a {
    color:#000;
}
ul.links li span.url a:hover {
    text-decoration:none;
}
ul.links li .desc {
    color:#00d;
}
ul.links li .expand {
    color:#aaa;
}
ul.links li .desc {
    display:inline-block;
}
ul.links li .tags {
}
ul.links li .tags:hover,
ul.links li .tags:hover a {
}
ul.links li .tags:hover a:hover {
    color:#00e !important;
    text-decoration:underline;
}
.private a {
    background:#eee !important;
    color:#aaa !important;
}

.meta {
    color:#999;
    font-style:italic;
    font-size:0.8em;
}
.meta a {
    color:#999;
}


.ui {
    font-size:0.9em;
    font-weight:normal;
    font-style:normal;
}
a.ui {
    color:#333 !important;
    text-decoration:underline;
}
a.ui:hover {
    color:#00d !important;
    text-decoration:none;
}
.ui.delete
}
.ui.edit {
}


form.new input[type="text"] {
    width:100%;
}
form.new textarea {
    width:100%;
    height:4em;
    font-family:Lucida Grande, inherited;
    font-size:11px;
    padding:3px;
}


ul.tags, ul.tags li {
    display:inline-block;
}
ul.tags li {
    font-size:0.8em;
    letter-spacing:0.03em;
    margin:0 0.08em;
}
ul.tags li a {
    color:#fff;
    background:#777;
    border-radius:3px;
    padding:0.2em 0.3em;
    text-decoration:none;
}
ul.tags li a:hover {
    background:#333;
}







.tag-help {
    font-weight:normal;
    font-size:12px;
}
#tag-help {
    margin:0.1em 0 0.3em 0.5em;
    font-size:12px;
}

#tags li {
    display:block;
}

